#countText {
  margin-left: 47%;
}
img {
  width: 200px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #999999;
}
#card-font h5 {
  color: tomato;
}
#card-font h4 {
  font-size: medium;
  font-weight: bold;
  justify-content: flex-end;
}
